*{
   margin: 0 auto;
   font-weight: 100;
   background-color: #303030;
   color: white;
}
a{
  color: white;
  text-decoration: none;
}

h4{
  font-weight: 100;
  margin: 0;
  padding-left: 1rem;
}

h1{
  font-weight: 100;
  margin: 0;
}


/*NAV and HEADER*/

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}
nav{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;

}
nav ul{
  margin: 0;
  display: flex;
  list-style-type: none;
}
li{
  padding-right: 1rem;
}



/*MAIN*/


.container{
  display: flex;
  flex-direction: column;
}


.cover {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100rem;
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}


/*PROJECTS*/

.apps{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 4rem;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
}



.boxImage{
  height: 20rem;
  width: 40%;
  background-image: url('https://imgur.com/9AePzsO.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.boxImage2{
  height: 20rem;
  width: 40%;
  background-image: url('https://imgur.com/5LcjhtY.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



.boxImage3{
  height: 20rem;
  width: 40%;
  background-image: url('https://imgur.com/YSDM2MG.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

