*{
   margin: 0 auto;
   font-family: sans-serif;
   background-color: #F5F5F5;
}
a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

h4{
  margin: 0;
  padding-left: 1rem;
}

h1{
  font-size: 3.5em;
  margin: .6em 0;
  font-weight: 600;
}



/*NAV and HEADER*/
header{
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.head{
  display: flex;
  margin-right: 0;
}
.click{
  margin-left: 0;
  padding-left: 0;
  position: absolute;
}
.click img{
  padding-left: 1rem;
  height: 30px;
}

.sub{
  font-size: 3rem;
  text-transform: uppercase;
}

.gitLink img{
  padding-left: 1rem;
  padding-right: 1rem;
  height: 30px;
}
.gitLink img:hover {
  transform: scale(1.5);
  transition: .5s;
}

.well{
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 13em;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.drop a{
  margin-left: 0;
  color: black;
  text-decoration: none;
}
/*MAIN*/


.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}


.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70%;
  /*border: 1px solid;*/
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-family: sans-serif;
}
/*PROJECTS*/

.apps{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 4rem;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
}



.boxImage{
  height: 20rem;
  width: 40%;
  background-image: url('https://imgur.com/9AePzsO.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.boxImage2{
  height: 20rem;
  width: 40%;
  background-image: url('https://imgur.com/5LcjhtY.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



.boxImage3{
  height: 20rem;
  width: 40%;
  background-image: url('https://imgur.com/YSDM2MG.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}




